

<ion-content [fullscreen]="true">
 
  <div class="ion-align-items-center div-cards">
    <ion-card>
      <img alt="Silhouette of mountains" src="https://i.pinimg.com/474x/58/9e/14/589e1409b4bc80e0b5ba99538251d66c.jpg" />
      <ion-card-header>
        <ion-card-title>GATO</ion-card-title>
        <ion-card-subtitle>Gatito</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Este gato te mira inquisidoramente
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
